<!DOCTYPE HTML PUBLIC "-//SoftQuad//DTD HoTMetaL PRO 4.0::19971010::extensions to HTML 4.0//EN"
 "hmpro4.dtd">

<HTML>
  
  <HEAD>
    <TITLE>Wood Fired Oven</TITLE>
    <LINK REL="stylesheet" TYPE="text/css" 
    HREF="{{ url_for('static', filename='style.css') }}">
  </HEAD>
  
  <BODY>
    
    <H1>Wood Fired Oven Monitor</H1>
    
    <P>Confirm to shutdown the monitor.</P>
    
    <P>TBD Files will be saved...</P>
    
    <P><A HREF="\shutdown">Shutdown</A></P>
  </BODY>
</HTML>
