<!DOCTYPE HTML PUBLIC "-//SoftQuad//DTD HoTMetaL PRO 4.0::19971010::extensions to HTML 4.0//EN"
 "hmpro4.dtd">

<HTML>
  
  <HEAD>
    <TITLE>{{ title }}</TITLE>
    <LINK REL="stylesheet" TYPE="text/css" 
    HREF="{{ url_for('static', filename='style.css') }}">
 </HEAD>
  
  <BODY>
    
    <H1>{{ title }}</H1>
    
<H4>{{ note }}</H4>


    <FORM METHOD="post" ACTION="/">
    <BUTTON NAME="logging" VALUE="Add_Note" STYLE="width:35%" CLASS="buttong">Add Note</BUTTON>    
    <P><INPUT TYPE="TEXT" NAME="note" MAXLENGTH="100"></P>
</FORM>
    

  </BODY>
</HTML>