<!DOCTYPE HTML PUBLIC "-//SoftQuad//DTD HoTMetaL PRO 4.0::19971010::extensions to HTML 4.0//EN"
 "hmpro4.dtd">

<HTML>
  
  <HEAD>
    <TITLE>{{ title }}</TITLE>
    <LINK REL="stylesheet" TYPE="text/css" 
    HREF="{{ url_for('static', filename='style.css') }}">
    <META HTTP-EQUIV="refresh" CONTENT="2">
  </HEAD>
  
  <BODY>
    
    <H1>{{ title }}</H1>
    
    <P>Current time is: {{ time }}</P>
    
    <P>Air Temperature: {{ air }}&deg;{{ units }} (approx)</P>
    
    <H2>Oven Temperatures</H2>
    
    <P>{% for temp in temps %} </P>
    <TABLE WIDTH="90%" CLASS="temptable">
      <TR>
        <TD WIDTH="75%">
        
        <P>{{ temps[temp].name }}</P></TD>
        <TD>
        
        <P>{{ temps[temp].temp }}&deg;{{ units }}</P></TD>
      </TR>
    </TABLE>
    
    <P>{% endfor %} </P>
  </BODY>
</HTML>
